body{
    background-color: black;
    color: white; 
}
h1{
    border-top-style:dotted;
    border-bottom-style:dotted;
    border-left-style:solid; 
    border-left-width: 10px;
    border-left-color: white; 
}

p{
    border-style: solid;
    padding: 5px; /*Distance from the border*/ 
    border-style: dashed; 
    border-style: dotted; 
    border-style: double; 
    border-style: ridge; 
    border-style: groove;
    border-style: outset; 
    border-width: 5px; 
    border-color: #00FF00; 
    border-radius: 10px; /*file the edges of the border*/ 
}